<div>
    <h2 id="page-heading">
        <span jhiTranslate="firstApp.aeropuerto.home.title">Aeropuertos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aeropuerto" [routerLink]="['/aeropuerto/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firstApp.aeropuerto.home.createLabel">
            Create a new Aeropuerto
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aeropuertos?.length === 0">
        <span jhiTranslate="firstApp.aeropuerto.home.notFound">No aeropuertos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="aeropuertos && aeropuertos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firstApp.aeropuerto.idaero">Idaero</span></th>
                    <th scope="col" ><span jhiTranslate="firstApp.aeropuerto.nombre">Nombre</span></th>
                    <th scope="col" ><span jhiTranslate="firstApp.aeropuerto.pais">Pais</span></th>
                    <th scope="col" ><span jhiTranslate="firstApp.aeropuerto.ciudad">Ciudad</span></th>
                    <th scope="col" ><span jhiTranslate="firstApp.aeropuerto.direccion">Direccion</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aeropuerto of aeropuertos ;trackBy: trackId">
                    <td><a [routerLink]="['/aeropuerto', aeropuerto.id, 'view']">{{ aeropuerto.id }}</a></td>
                    <td>{{ aeropuerto.idaero }}</td>
                    <td>{{ aeropuerto.nombre }}</td>
                    <td>{{ aeropuerto.pais }}</td>
                    <td>{{ aeropuerto.ciudad }}</td>
                    <td>{{ aeropuerto.direccion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aeropuerto', aeropuerto.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aeropuerto', aeropuerto.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aeropuerto)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
